*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 0.875rem;
}
/* home */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
/* home */

.container {
  padding-top: 6rem;
  text-align: center;
  background-image: url('./landscape.jpg');
  padding-bottom: 7rem;
}
.form-container {
  display: flex;
  margin: 6rem auto;
}
form {
  width: 38rem;
}

.form-input {
  height: 4rem;
}

.form1-container {
  display: flex;
  justify-content: space-between;
}
.form2 {
  padding-left: 1rem;
}
.text {
  color: black;
}

.section-center,
.all-container,
.super-images {
  margin: 0 auto;
  display: grid;
  gap: 14rem 2rem;
  padding-top: 1rem;
  padding-bottom: 14rem;
}
.gallery,
.photo-container {
  display: grid;
  grid-template-columns: (1fr auto 1fr);
  grid-template-rows: repeat(8, 0.2vw);
  grid-gap: 15px;
}
.photo,
.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.me {
  padding-top: 18.4rem;
  font-size: 11px;
  color: rgb(131, 121, 121);
}
.search-icon {
  background: white;
  height: 4rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  border-radius: 0.4rem;
}
.search {
  font-size: 3rem;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
  }
  h4 {
    font-size: 11px;
    color: rgba(153, 99, 99, 0.911);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    overflow-wrap: break-word;
  }
  .container {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .form-container {
    margin: 3rem auto;
  }
  .form-input {
    height: 2.5rem;
  }
  form {
    width: 15rem;
    overflow: hidden;
  }
  .search-icon {
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
  .search {
    font-size: 2rem;
  }

  .section-center,
  .all-container,
  .super-images {
    gap: 0.1rem 1rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }
  .gallery,
  .photo-container {
    width: 400px;
    height: 250px;
    margin: 1px auto;
  }

  .photo,
  .img {
    height: 200px;
    width: 400px;
  }
  .me {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 800px) {
  .section-center,
  .all-container,
  .super-images {
    width: 97vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photo,
  .img {
    height: 300px;
  }
}
hr {
  font-size: 2px;
  font-weight: bold;
}
